# By default prettier ignores files in version control systems directories (".git", ".svn" and ".hg") and node_modules (if --with-node-modules CLI option not specified)

# Explicitly ignore the node_modules/ folder for sanity check/transparency.
node_modules

build